.root{
    display: flex;
    justify-content: center;
    align-items: center;

}
.h1-heading{
    margin-top: 20px;
    color: rgb(76, 41, 218);
}
.div_1{
    margin-top: 20px;
    border: 2px solid gray;
}

.div_2{
    margin-top: 20px;
    border: 2px solid rgb(198, 26, 26);
}

.div_3{
    margin-top: 20px;
    border: 2px solid rgb(16, 172, 21);
}